body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: url(back.png) repeat top left;
    text-align: center;
}

h1, h2 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ask-mate {
    background-color: rgba(255, 255, 255, 0.6)
}

.bg-light {
    background-color: #567A92!important;
}

#navbar-main-text, .btn-outline-warning, #nav-home, #nav-new-q {
    color: #FDCC71;
}

.btn-outline-warning, .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:hover {
    border-color: #FDCC71;
    background-color: #567A92;
}

.btn-outline-warning:focus {
    box-shadow: 0 0 0 0.2rem rgba(253,204,113,.5);
}

.btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:hover {
    color: #567A92;
    background-color: #FDCC71;
}

h2 {
    font-style: italic;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
    border: 1px solid #567A92;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

table {
    border-collapse: separate;
    border-spacing: 0px;
    border-radius: 15px;
    background: linear-gradient(45deg, #567A92, lightcyan);
}

th,td {
    background-color: azure;
}

td:hover {
    background-color: #E8D7C9;
}

textarea{
    font-color: white;
    background-color: #567A92;
    border: 5px solid #A5C3D2;
    border-collapse: separate;
    border-radius: 15px;
}

html, body, .container-fluid, .ask-mate {
    height: 100%;
}
