{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock%}

{% block content %}

<h1>Ask Mate</h1>
<p>
<a href="{{ url_for('ask_question')}}">Ask new question</a>
<br />
</p>
<div>
<table class="center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Submission Time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Title</th>
        </tr>
    </thead>

    {% for story in user_stories %}
    <tr>
        <td>{{ story['id'] }}</td>
        <td>{{ story['submission_time'] }}</td>
        <td>{{ story['view_number'] }}</td>
        <td>{{ story['vote_number'] }}</td>
        <td>{{ story['title'] }}</td>
     </tr>
    {% endfor %}

</table>
</div>
{% endblock%}
