{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock%}

{% block content %}

    <h1>Ask Mate</h1>
    <br>
    <h2>Question:</h2>
    <br>
    <table class="center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Submission Time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tr>
            <td>{{ user_question.title }}</td>
            <td>{{ user_question.submission_time }}</td>
            <td>{{ user_question.view_number }}</td>
            <td>{{ user_question.vote_number }}</td>
            <td>{{ user_question.message }}</td>
            <td>{{ user_question.image }}</td>
            <td>
                 <form action="{{ url_for('vote', question_id=user_question.id, up="up")}}" method="post">
                    <input type="submit" value="Upvote" />
                 </form>
            </td>
            <td>
                 <form action="{{ url_for('vote', question_id=user_question.id, down="down")}}" method="post">
                    <input type="submit" value="Downvote" />
                 </form>
            </td>
        </tr>

    </table>

    <p>
        <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('edit_question', question_id=user_question.id)}} ">Edit question</a>
    </p>
    <br>
    <h2>Answer:</h2>
    <br>
    <p>
        <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('new_answer', question_id=user_question.id) }}">
            Add a new answer
        </a>
    </p>
    <br>

    <table class="center">
        <thead>
            <tr>
                <th>Message</th>
                <th>Submission Time</th>
                <th>Vote number</th>
                <th>Image</th>
            </tr>
        </thead>

        {% for answer in answers %}
            <tr>
                <td>{{ answer.message }}</td>
                <td>{{ answer.submission_time }}</td>
                <td>{{ answer.vote_number }}</td>
                <td>{{ answer.image }}</td>
                <td>
                     <form action="{{ url_for('vote', answer_id=answer.id, up="up")}}" method="post">
                        <input type="submit" value="Upvote" />
                     </form>
                </td>
                <td>
                     <form action="{{ url_for('vote', answer_id=answer.id, down="down")}}"method="post">
                        <input type="submit" value="Downvote" />
                     </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="{{ url_for('route_list') }}">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Back</button>
    </form>
    <br>
{% endblock%}
