{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock%}

{% block content %}

<h1>Ask Mate</h1>
<h2>Question:</h2>
<table class="center">
    <thead>
        <tr>
            <th>Title</th>
            <th>Submission Time</th>
            <th>View number</th>
            <th>Vote number</th>
            <th>Message</th>
            <th>Image</th>
            <th colspan="2">Vote</th>
        </tr>
    </thead>

    <tr>
        <td>{{ user_question.title }}</td>
        <td>{{ user_question.submission_time }}</td>
        <td>{{ user_question.view_number }}</td>
        <td>{{ user_question.vote_number }}</td>
        <td>{{ user_question.message }}</td>
        <td>{{ user_question.image }}</td>
        <td>
             <form action="{{ url_for('vote_question', question_id=user_question.id, up="up")}}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">👍</button>
             </form>
        </td>
        <td>
             <form action="{{ url_for('vote_question', question_id=user_question.id, down="down")}}" method="post">
                <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">👎</button>
             </form>
        </td>
    </tr>
    {% for question_comment in question_comments %}
        <tr class="comment">
            <td colspan="6">
                <span class="comment-header d-flex justify-content-start">Comment: </span>
                <span class="comment-body">{{ question_comment.message }}</span>
                <span class="comment-time d-flex justify-content-end">{{ question_comment.submission_time }}</span>
                <span class="comment-edited d-flex justify-content-end">Edited count: {{ question_comment.edited_count }}</span>
                <span class="comment-edited d-flex justify-content-end">Comment by: {{ question_comment.username }}</span>
            </td>
            <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('edit_comment', question_id=user_question.id, comment_id=question_comment.id)}}">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('del_comment', comment_id=question_comment.id)}}
                    "onclick="return confirm('Are you sure to delete this comment?')">Delete comment</a>
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td class="tag" colspan="8">
            <span>Tags: </span>
            {% for name in tags_names %}
                {% for dict_ in name %}
                    {% for value in dict_.values() %}
                        <span>{{ value }}</span>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        </td>
    </tr>
</table>
<br>
{% if username %}
    <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('edit_question', question_id=user_question.id)}} ">Edit question</a>
    <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('new_question_comment', question_id=user_question.id)}} ">Add comment to question</a>
    <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('add_new_tag', question_id=user_question.id)}}">Add new tag</a>
 {% endif %}
<br>
<h2>Answer:</h2>
<p>
    <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('new_answer', question_id=user_question.id) }}">
        Add a new answer</a>
</p>
<table class="center">
    <thead>
        <tr>
            <th>Message</th>
            <th>Submission Time</th>
            <th>Vote number</th>
            <th>Image</th>
            <th colspan="2">Vote</th>
            <th>Edit</th>
            <th>Add</th>
            <th>Delete</th>
        </tr>
    </thead>

    {% for answer in answers %}
        <tr>
            <td>{{ answer.message }}</td>
            <td>{{ answer.submission_time }}</td>
            <td>{{ answer.vote_number }}</td>
            <td>{{ answer.image }}</td>
            <td>
                 <form action="{{ url_for('vote_answer', answer_id=answer.id, up="up")}}" method="post">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">👍</button>
                 </form>
            </td>
            <td>
                 <form action="{{ url_for('vote_answer', answer_id=answer.id, down="down")}}"method="post">
                    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">👎</button>
                 </form>
            </td>
            <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('edit_answer', answer_id=answer.id)}}">Edit answer</a>
            </td>
             <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('new_answer_comment', answer_id=answer.id)}}">Add comment</a>
            </td>
            <td>
                <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('del_answer', answer_id=answer.id)}}
                    "onclick="return confirm('Are you sure to delete this comment?')">Delete answer</a>
            </td>
        </tr>

        {% for comment_list in comments %}
            {% for comment in comment_list %}
                {% if comment.answer_id == answer.id %}
                    <tr class="comment">
                        <td colspan="7">
                            <span class="comment-header d-flex justify-content-start">Comment: </span>
                            <span class="comment-body">{{ comment.message }}</span>
                            <span class="comment-time d-flex justify-content-end">{{ comment.submission_time }}</span>
                            <span class="comment-edited d-flex justify-content-end">Edited count: {{ comment.edited_count }}</span>
                        </td>
                        <td>
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('edit_comment', question_id=user_question.id, comment_id=comment.id)}}">Edit</a>
                        </td>
                        <td>
                            <a class="btn btn-outline-warning my-2 my-sm-0" href="{{ url_for('del_comment', comment_id=comment.id)}}
                                "onclick="return confirm('Are you sure to delete this comment?')">Delete</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% endfor %}
</table>
<br>
<form action="{{ url_for('route_list') }}">
    <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Back</button>
</form>
<br>
{% endblock%}
