{% extends 'layout.html' %}

{% block title %}
    Welcome!
{% endblock%}

{% block content %}

    <h1>Ask Mate</h1>
    <br>
    <h2>Question:</h2>
    <br>
    <table class="center">
        <thead>
            <tr>
                <th>Title</th>
                <th>Submission Time</th>
                <th>View number</th>
                <th>Vote number</th>
                <th>Message</th>
                <th>Image</th>
            </tr>
        </thead>

        <tr>
            <td>{{ question['title'] }}</td>
            <td>{{ question['submission_time'] }}</td>
            <td>{{ question['view_number'] }}</td>
            <td>{{ question['vote_number'] }}</td>
            <td>{{ question['message'] }}</td>
            <td>{{ question['image'] }}</td>
        </tr>

    </table>

    <br>
    <h2>Answer:</h2>
    <br>
    <p>
        <a href="{{ url_for('new_answer', question_id=question['id']) }}">
            Add a new answer
        </a>
    </p>
    <br>

    <table class="center">
        <thead>
            <tr>
                <th>Message</th>
                <th>Submission Time</th>
                <th>Vote number</th>
                <th>Image</th>
            </tr>
        </thead>

        {% for answer in answers %}
            <tr>
                <td>{{ answer['message'] }}</td>
                <td>{{ answer['submission_time'] }}</td>
                <td>{{ answer['vote_number'] }}</td>
                <td>{{ answer['image'] }}</td>
            </tr>
        {% endfor %}
    </table>
    <br>
    <form action="{{ url_for('route_list') }}">
        <button type="submit"> Return </button>
    </form>
    <br>
{% endblock%}
